pizza_shop_models/db.sqlite3
pizza_shop_models/models/__pycache__/**
pizza_shop_models/__pycache__/**
pizza_shop_models/pizza_shop/migrations/__pycache__/**
pizza_shop_models/pizza_shop/__pycache__/**
__pycache__/**
.vscode
pizza_shop_models/.vscode
