pizza_shop_models/db.sqlite3
pizza_shop_models/models/__pycache__/**
pizza_shop_models/__pycache__/**
pizza_shop_models/pizza_shop/migrations/__pycache__/**
pizza_shop_models/pizza_shop/__pycache__/**
__pycache__/**
.vscode
pizza_shop_models/.vscode
small_site_with_blog/blog/__pycache__
small_site_with_blog/blog/tests/__pycache__
small_site_with_blog/small_site_with_blog/__pycache__
small_site_with_blog/db.sqlite3
small_site_with_blog/functional_tests/__pycache__/**
small_site_with_blog/functional_tests/migrations/__pycache__/**
geckodriver.log
small_site_with_blog/blog/migrations/__pycache__/**
signup_form/signup_form/__pycache__/
signup_form/db.sqlite3
signup_form/signup/__pycache__/
signup_form/signup/migrations/__pycache__/
